{% include 'nav_bar.html' %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1 align ="center">2 Wave Solitons</h1>
<style>
    h1{height: 100px}
    form{text-align: center;}
</style>
<div id = "body"></div>
<form id = "myform" action = "/plot"  method = "POST" >
    Value of Amplitude of wave 1: <input type = "number" step="any" name = "value_a" required/></br>
    <br>
    Value of Amplitude of wave 2: <input type = "number" step="any" name = "value_b" required/></br>
    <br>
    Show both waves: <input type="checkbox" name="checks" value = "checked"></br>
    <br>
    <input type = "submit" value = Enter />
    <input type = "button" onclick = "reset()" value = "Reset"/>
</form>
</div>

<script>
    function reset() {
      document.getElementById("myForm").reset();
    }
    </script>
<br>

{% if plot_url %}
<center>
    <video width="700" height="500" controls>
        <source src={{plot_url}} type="video/mp4">
    </video>
</center>
{% endif %}

