<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='{{url_for('hello')}}'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href= '{{url_for('wave1')}}'>1 Wave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href='{{url_for('wave2')}}'>2 Wave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href= '{{url_for('shallowwave')}}'>Shallow Wave</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>